[package]
name = "sei-integration-tests"
version = "0.4.10"
edition = "2021"
description = "Custom module to support integration tests for Sei chain contracts"
license = "Apache-2.0"
readme = "README.md"

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
cw-multi-test = "0.16"
anyhow = "1"
sei-cosmwasm = { path = "../sei-cosmwasm", version = "0.4.9" }
cosmwasm-std = "1.0.0"
cw20-base = "0.13.4"
schemars = "0.8.8"
serde = { version = "1.0.137", default-features = false, features = ["derive"] }
serde_json = { version = "1.0", default-features = false, features = ["alloc"] }